<% content_for :page_title do %>
  <%= I18n.t("spree.spree_reviews.review_settings") %>
<% end %>

<% admin_breadcrumb(I18n.t("spree.settings")) %>

<% content_for :tabs do %>
  <nav>
    <ul class="tabs">
      <%= settings_tab_item I18n.t("spree.spree_reviews.review_settings"), spree.admin_review_settings_path %>
    </ul>
  </nav>
<% end %>

<%= form_tag(admin_review_settings_path, method: :put) do %>
  <fieldset class="no-border-top">
    <div class="field">
      <label>
        <%= check_box_tag('preferences[include_unapproved_reviews]', "1", Spree::Reviews::Config[:include_unapproved_reviews]) %>
        <%= I18n.t("spree.spree_reviews.include_unapproved") %>
      </label>
    </div>
    <div class="field">
      <label>
        <%= check_box_tag('preferences[display_unapproved_reviews]', "1", Spree::Reviews::Config[:display_unapproved_reviews]) %>
        <%= I18n.t("spree.spree_reviews.display_unapproved") %>
      </label>
    </div>
    <div class="field">
      <label>
        <%= check_box_tag('preferences[feedback_rating]', "1", Spree::Reviews::Config[:feedback_rating]) %>
        <%= I18n.t("spree.spree_reviews.feedback_rating") %>
      </label>
    </div>
    <div class="field">
      <label>
        <%= check_box_tag('preferences[show_email]', "1", Spree::Reviews::Config[:show_email]) %>
        <%= I18n.t("spree.spree_reviews.show_email") %>
      </label>
    </div>
    <div class="field">
      <label>
        <%= check_box_tag('preferences[show_verified_purchaser]', "1", Spree::Reviews::Config[:show_verified_purchaser]) %>
        <%= I18n.t("spree.spree_reviews.show_verified_purchaser") %>
      </label>
    </div>
    <div class="field">
      <label>
        <%= check_box_tag('preferences[require_login]', "1", Spree::Reviews::Config[:require_login]) %>
        <%= I18n.t("spree.spree_reviews.require_login") %>
      </label>
    </div>
    <div class="field">
      <label>
        <%= check_box_tag('preferences[track_locale]', "1", Spree::Reviews::Config[:track_locale]) %>
        <%= I18n.t("spree.spree_reviews.track_locale") %>
      </label>
    </div>
    <div class="field">
      <label><%= I18n.t("spree.spree_reviews.preview_size") %></label><br>
      <%= text_field_tag('preferences[preview_size]', Spree::Reviews::Config[:preview_size], size: 3) %>
    </div>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button_tag I18n.t("spree.actions.update") %>
      <%= link_to I18n.t("spree.actions.cancel"), edit_admin_general_settings_url, class: 'button' %>
    </div>
  </fieldset>
<% end %>
